@font-face {
    font-family: 'Affect';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Affect-Bold.woff') format('woff');
}

* {
    font-family: sans-serif;
    z-index: 1;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    background-color: black;
}

main {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-section *{
    font-family: Affect, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-section .menu-button, .menu-section .menu-close-button {
    display: block;
    margin: 0;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url("/assets/img/menu.svg");
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
}

.menu-section .menu-close-button {
    display: none;
    background-image: url("/assets/img/close.svg");
}

.menu-section nav {
    display: none;
    margin: auto;
    width: auto;
    max-width: 70vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.menu-section nav * {
    margin: 2rem 0;
}

.menu-section nav a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.menu-section:target {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: black;
}

.menu-section:target .menu-button, .menu-section:target .menu-close-button {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
}

.menu-section:target .menu-close-button {
    display: block;
}

.menu-section:target nav {
    display: flex;
}

/* Landing classes */

main > * {
    /*min-height: 100vh;*/
    /*height: 100%;*/
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

main > *:after, .two-sides .side:after {
    content: '';
    width: 4rem;
    height: 1px;
    bottom: 0;
    left: calc(50% - 2rem);
    position: absolute;
    background-color: white;
}

main > *:nth-last-child(1):after {
    content: none;
}

.two-sides {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
    max-height: none;
    height: auto;
    position: relative;
    /*min-height: 100vh;*/
}

.two-sides .side {
    /*width: 100%;*/
    height: 100vh;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.two-sides .side .header {
    font-size: 1.7rem;
}

.two-sides .side .caption {
    font-size: 1.2rem;
}

.content-screen {
    padding: 2rem;
    height: calc(100% - 4rem);
}

.actions-section {
    padding: 2rem;
}

footer {
    height: auto;
    padding: 2rem;
}

/* Common classes */

.center-text {
    text-align: center;
}

.background-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow-x: hidden;
    z-index: 0;
}

.background-cover img {
    display: block;
    opacity: 0.2;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.radial-mask {
    /*position: relative;*/
}

.radial-mask:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);*/
    /*background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);*/
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#cc000000', GradientType=1);*/
    z-index: 2;
}

button, .button {
    display: inline-block;
    padding: .5rem;
    min-width: 200px;
    line-height: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background: rgba(100, 100, 100, 0.6);
    -webkit-backdrop-filter: blur(25px);
    cursor: pointer;
}